      *,
      html,
      body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      .gradient-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        rotate: 180deg;
        background: linear-gradient(
          rgba(255, 255, 255, 1) 20%,
          rgba(255, 255, 255, 0) 100%
        );
      }
      .immune {
        rotate: 180deg;
      }
      .rotate-90{
        rotate: 45deg;
      }

      .fs-3xl {
        font-size: xxx-large;
      }
      @media (max-width: 768px) {
        .fs-3xl {
          font-size: xx-large;
        }
      }

      @media (max-width: 576px) {
        .fs-3xl {
          font-size: x-large;
        }
      }

      .fs-2xl {
        font-size: xx-large;
      }
      @media (max-width: 768px) {
        .fs-2xl {
          font-size: xx-large;
        }
      }
      @media (max-width: 576px) {
        .fs-2xl {
          font-size: medium;
        }
      }
      .fs-xl {
        font-size: x-large;
      }
      .logo {
        width: 70px;
        height: 70px;
      }
      @media (max-width: 768px) {
        .logo {
          width: 50px;
          height: 50px;
        }
      }
      @media (max-width: 576px) {
        .logo {
          width: 40px;
          height: 40px;
        }
      }
      .text-justify{
        text-align: justify;
      }